<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Var</title>
</head>
<body>
<h1>Var</h1>
<hr>

<h3 th:text="${success} != null? '已成功插入'+${success}+'条数据':''"></h3>

<p>project name:
    <!--/*@thymesVar id="project" type="com.bupt317.study.demo_boot.pojo.Project"*/-->
    <span th:text="${project.name}"></span></p>
<p>project description:
    <!--/*@thymesVar id="project" type="com.bupt317.study.demo_boot.pojo.Project"*/-->
    <span th:text="${project.description}"></span></p>
<p>project time:
    <!--/*@thymesVar id="project" type="com.bupt317.study.demo_boot.pojo.Project"*/-->
    <span th:text="${#dates.format(project.time,'yyyy年MM月dd日 HH:mm:ss')}"></span>
</p>
</body>
</html>